body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgb(2, 2, 53);
    color: #ffffff; /* Ganti warna teks ke warna kontras */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    color: #fff;
}

nav {
    display: flex;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff; /* Ganti warna teks default */
    transition: color 0.3s, transform 0.3s; /* Tambahkan transisi warna dan transformasi */
}

nav a:hover {
    color: #fc0000 !important; /* Gunakan !important untuk memastikan prioritas warna hover */
    transform: scale(1.1);
}

section {
    max-width: 100%;
    margin: 10px auto;
    padding: 10px;
    background-color: rgb(2, 2, 53);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ffffff;
}

h2{
    color: #fff;
}

.facilities {
    display: flex;
    flex-direction: column; /* Mengatur tata letak menjadi kolom */
    align-items: flex-start; /* Geser elemen ke kiri */
    margin-top: 20px;
}

.facility {
    text-align: center;
    margin-bottom: 20px; /* Jarak antar elemen */
}

.facility img {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    align-self: flex-start; /* Geser gambar ke kiri */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

.footer {
    background-color: rgb(2, 2, 53);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.footer a:last-child {
    margin-right: 0;
}

.footer p {
    margin: 0;
}

.footer div {
    margin-top: 10px;
}

.footer div p {
    margin: 0;
}

.footer div p:last-child {
    margin-bottom: 10px;
}